.error{
	color: red;
}
.exito{
	color: #1ed12d;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: thin solid #dedede;
  border-radius: 0.6rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  margin-top: 2px;
  outline: none;
  display: block;
  width: 30vw;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}



button,
input[type="submit"],
input[type="reset"] {
  border: 0 none;
  border-radius: 5rem;
  padding: 1.5rem 1rem;
  margin: 0 1rem 0 0;
  display: inline-block;
  background-color: #000;
  color: #dedede;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}


.enviar{
  width: 30vw;
}
button,
input[type="submit"]:hover{
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out 0s;
   color: grey;

}
.contactForm {
 
  width: 30vw;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

h2{
  color: #000000;
  font-size: 28px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 12px;
}
.logoNikeForm{
  width: 60px;
  margin: 1rem  34vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.terminosForm{
  color: grey;
}

